<section class="mainbar">
    <section class="matter">
        <div class="container">
        	{{ vm.title }}
        	<br>
        	<my-customer-iso info='vm.naomi'></my-customer-iso>
        	<br>
        	<my-customer-iso info='vm.igor'></my-customer-iso>
        	<br>
        	<br>
        	<div>
			  Date format: <input ng-model="vm.format"> <hr/>
			  Current time is: <span my-current-time="vm.format"></span>
			</div>
			<br>
			<br>
			<div>
				{{ vm.message }}
				<my-dialog ng-hide='vm.dialogIsHidden' on-close='vm.hideDialog(message)'>
					Check out the contents, {{ name }}!
				</my-dialog>
            </div>
            <br>
            <span my-draggable>drag me!</span>
            <br>
            <br>
            <my-tabs>
              <my-pane title="Hello">
                <h4>Hello</h4>
                <p>Lorem ipsum dolor sit amet</p>
              </my-pane>
              <my-pane title="World">
                <h4>World</h4>
                <em>Mauris elementum elementum enim at suscipit.</em>
                <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
              </my-pane>
            </my-tabs>
        </div>

    </section>        
</section>
        